appdirs==1.4.4
attrs==19.3.0
black==19.10b0
cffi==1.14.0
click==7.1.2
colorama==0.4.3
commonmark==0.9.1
Cython==0.29.15
-e git+git@github.com:jamesb93/ftis.git@5de94c96b8b41588bde0b0558a936cb0993e6eaf#egg=ftis&subdirectory=ftis
gitdb==4.0.2
GitPython==3.1.0
hdbscan==0.8.25
joblib==0.14.1
llvmlite==0.31.0
more-itertools==8.2.0
numba==0.48.0
numpy==1.18.1
packaging==20.3
pathspec==0.8.0
pluggy==0.13.1
pprintpp==0.4.0
py==1.8.1
pycparser==2.20
pydub==0.23.1
Pygments==2.6.1
pyparsing==2.4.6
pytest==5.3.5
python-flucoma @ git+https://github.com/jamesb93/python-flucoma@6508caf6be817b671c0adf3918381643ad1d1c59
python-rapidjson==0.9.1
PyYAML==5.3
regex==2020.6.8
rich==1.1.1
scikit-learn==0.22.2.post1
scipy==1.4.1
simpleaudio==1.0.4
six==1.14.0
sklearn==0.0
smmap==3.0.1
SoundFile==0.10.3.post1
toml==0.10.1
typed-ast==1.4.1
typing-extensions==3.7.4.2
umap-learn==0.3.10
wcwidth==0.1.8
